{% extends 'base.html' %}

{% block content %}
    <h2 class="h3 mb-5 fw-normal text-center">Категорії</h2>
    {% if user.username == 'admin' %}
        <a href="{% url 'myProject:new_categori' %}" class="btn btn-success mb-3">Додати категорію</a>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4 categoris-list">
        {% for categori in categories %}
            <div class="col">
                <a href="{% url 'myProject:categori_game' categori.id %}" class="card-link">
                    <center>
                        <div class="card" style="width: 18rem;background-color: #58515c;">
                            {% if categori.image %}
                            <img src="{{ categori.image.url }}" class="img-fluid rounded-start" alt="">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ categori.name }}</h5>
                            </div>
                        </div>
                    </center>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock content %}